<div fxLayout="column">
    <div class="search-div">
        <button aria-label="Close" routerLink="new" style="margin-right: 5px;" class="btn btn-button btn-outline-info">
            <span class="material-icons">
                add
            </span>
        </button>
        <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput [(ngModel)]="searchKey" placeholder="Rechercher" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey"
                (click)="onSearchClear()"></button>
        </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <mat-card fxFlex="32" *ngFor="let gc of obs | async" style="border-bottom: 2px solid black">
            <mat-card-header>
                <mat-card-title>{{gc.libelle}}</mat-card-title>
                <mat-card-subtitle>Groupe de compétences</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <span class="small" style="margin:auto">Descriptif</span>
                    <p>{{gc.descriptif | resume: 80}}</p>
                </div>
                <mat-divider></mat-divider>
                <!-- les 3 niveaux -->
                <div style="margin-top: 40px;">
                    <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Compétences
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div fxLayout="column">
                            <mat-form-field *ngFor="let competence of gc.competences" fxFlex="50" appearance="outline">
                                <mat-label></mat-label>
                                <input matInput readonly value={{competence.libelle}}>
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                </div>

            </mat-card-content>
            <mat-card-actions>
                <button style="margin-right: 5px;" [routerLink]="[gc.id]"
                    class="btn btn-button btn-outline-info">Editer</button>
                <button class="btn btn-button btn-outline-danger" style="margin-right: 5px;"
                    (click)="onDeleteCompetence(gc.id)">Supprimer</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-paginator [pageSize]="6"></mat-paginator>
</div>