<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxLayoutAlign="center" fxFlex="60" fxFlex.lt-sm="100">
    <mat-toolbar fxLayoutAlign="center center" >Création de compétence</mat-toolbar>
    <form [formGroup]="competenceForm" fxLayoutAlign="stretch" fxLayout="column" fxLayoutGap="15px" (ngSubmit)="onSubmitForm()">
      <mat-form-field appearance="outline">
        <mat-label>Libellé</mat-label>
        <input matInput formControlName="libelle">
        <mat-error *ngIf="competenceForm.controls.libelle.errors && competenceForm.controls.libelle.errors.required">*Champs Obligatoire</mat-error> 
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descriptif</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" formControlName="descriptif"></textarea>
        <mat-error *ngIf="competenceForm.controls.descriptif.errors && competenceForm.controls.descriptif.errors.required">*Champs Obligatoire</mat-error> 
      </mat-form-field>
      <!-- les 3 niveaux -->
      <div *ngFor="let i of numberOfNiveaux">
        <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Niveau {{i}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column">
            <mat-form-field fxFlex="50" appearance="outline">
              <mat-label>Actions</mat-label>
              <textarea  matInput cdkTextareaAutosize cdkAutosizeMinRows="3" formControlName="actions{{i}}"></textarea>
              <mat-error *ngIf="competenceForm.controls.actions1.errors && competenceForm.controls.actions1.errors.required">*Champs Obligatoire</mat-error> 
              <mat-error *ngIf="competenceForm.controls.actions2.errors && competenceForm.controls.actions2.errors.required">*Champs Obligatoire</mat-error> 
              <mat-error *ngIf="competenceForm.controls.actions3.errors && competenceForm.controls.actions3.errors.required">*Champs Obligatoire</mat-error> 
            </mat-form-field>
            <mat-form-field fxFlex="50" appearance="outline">
              <mat-label>Ctritères d'evaluation</mat-label>
              <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" formControlName="critere_evaluation{{i}}"></textarea>
              <mat-error *ngIf="competenceForm.controls.critere_evaluation1.errors && competenceForm.controls.critere_evaluation1.errors.required">*Champs Obligatoire</mat-error> 
              <mat-error *ngIf="competenceForm.controls.critere_evaluation2.errors && competenceForm.controls.critere_evaluation2.errors.required">*Champs Obligatoire</mat-error> 
              <mat-error *ngIf="competenceForm.controls.critere_evaluation3.errors && competenceForm.controls.critere_evaluation3.errors.required">*Champs Obligatoire</mat-error> 
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </div>
      <!-- les 3 niveaux -->

      <!-- groupe de competences -->
      <mat-form-field> Groupe de compétences
        <mat-select [formControl]="gcControl" multiple >
        
          <mat-select-trigger>
            <mat-chip-list>
              <mat-chip *ngFor="let gc of gcControl.value"
                [removable]="true" (removed)="onGcRemoved(gc)"> 
                {{ gc }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </mat-select-trigger>
      
          <mat-option *ngFor="let gc of gcList" [value]="gc">{{gc}}</mat-option>
      
        </mat-select>
      </mat-form-field>
      <!-- groupe de competences -->

      <button mat-raised-button color="primary" type="submit" [disabled]="!competenceForm.valid">Créer</button>
      <button mat-raised-button color="accent" type="reset" (click)="onCancelAdding()">Annuler</button>
    </form>
  </mat-card>
</div>