<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{user.prenom}} {{user.nom}}</h2>
            <h4>{{user.email}}</h4>
        </div>
        <img class="selected-image" src="{{ 'data:image/jpg;base64,' + user.avatar }}" alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Dashboard</h2>
    <mat-expansion-panel (opened)="panelOpenState = true"(closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="material-icons" style="margin-right: 5px;">
                    settings
                </span>
                Parametres
            </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLInkActive="list-itel-active" routerLink="groupe_competences">Groupe compétences</a>
        <a mat-list-item routerLInkActive="list-itel-active" routerLink="competences">Compétences</a>
        <a mat-list-item routerLInkActive="list-item-active" routerLink="referentiels">Référentiels</a>
        <a mat-list-item routerLInkActive="list-item-active" routerLink="promos">Promos</a>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
        <mat-expansion-panel (opened)="panelOpenState = true"(closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                        <span class="material-icons" style="margin-right: 5px;">
                            people_alt
                        </span>
                        Utilisateurs
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLInkActive="list-itel-active" routerLink="users">Gestion des utilisateurs</a>
            <a mat-list-item routerLInkActive="list-itel-active" routerLink="profils">Profils</a> 
            <a mat-list-item routerLInkActive="list-itel-active" routerLink="profilsorties">Profils de sortie</a> 
        </mat-expansion-panel>
</mat-nav-list>



